@font-face {
  font-family: "iconfont"; /* Project id 3738041 */
  src: url('iconfont.woff2?t=1667111891036') format('woff2'),
       url('iconfont.woff?t=1667111891036') format('woff'),
       url('iconfont.ttf?t=1667111891036') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sousuo:before {
  content: "\eed9";
}

.icon-xiaoxi:before {
  content: "\eeda";
}

.icon-xihuan:before {
  content: "\eedb";
}

.icon-xianshi:before {
  content: "\eedc";
}

.icon-biaoqian:before {
  content: "\eedd";
}

.icon-quanpiao:before {
  content: "\eede";
}

.icon-tupian:before {
  content: "\eedf";
}

.icon-huiyuan:before {
  content: "\eee0";
}

.icon-shouye:before {
  content: "\eee1";
}

.icon-shipin:before {
  content: "\eee2";
}

.icon-shezhi:before {
  content: "\eee3";
}

.icon-wenjian:before {
  content: "\eee4";
}

.icon-wode:before {
  content: "\eee5";
}

.icon-youxiang:before {
  content: "\eee6";
}

.icon-shanchu:before {
  content: "\eee7";
}

.icon-hongbao:before {
  content: "\eee8";
}

.icon-wenjianjia:before {
  content: "\eee9";
}

.icon-daka:before {
  content: "\eeea";
}

.icon-shoucang:before {
  content: "\eeeb";
}

.icon-cunchu:before {
  content: "\eeec";
}

.icon-tongzhi:before {
  content: "\eeed";
}

.icon-tishi:before {
  content: "\eeee";
}

.icon-shijian:before {
  content: "\eeef";
}

.icon-paizhao:before {
  content: "\eef0";
}

.icon-liwu:before {
  content: "\eef1";
}

.icon-huore:before {
  content: "\eef2";
}

.icon-dizhi:before {
  content: "\eef3";
}

